@charset "utf-8";
/* CSS Document */

body {
	background-image: url(bg.JPG);
	text-align: left;
}
.style1 {color: #cccccc
}
a:link{
	color: #FF3E9E
}

a:visited{color: #FF3E9E}
a:hover{background-color:#ff3e9e; color:#FFFF0D}
body,td,th,div {
	font-family: "Courier New", Courier, monospace;
}